/* body{
 flex: 33.33%;
width: 310px;
padding: 20px;
margin: 1em 10px;
background: #ffffff;
max-width: 400px;
height: 120%;
margin: 100px auto;
border-radius: 12px;
padding: (24px * 2);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */